


        <title>Edit Account Request</title>
    
    <body>
        * Required fields

    <form class="example-form" #userForm="ngForm">

       <br>
       <br>
       <form action="" class="was-validated">    

        <div class="form-group">
            <label for="name">Name*</label>
            <input type="text" id="name" [(ngModel)]="edit.name"  name="name" #name="ngModel"  required><br><br>
        </div>
        <div class="form-group">
            <label for="address">Address*</label>
            <input type="text" id="address" [(ngModel)]="edit.address"  name="address" #address="ngModel" required><br><br>
        </div>
        <div class="form-group">
            <label for="State">State*</label>
            <select  id="option" [(ngModel)]="edit.state"  name="state" #state="ngModel" required>
                <option value="Bahia">Bahia</option>
                <option value="Paraná">Paraná</option>
                <option value="Rio de Janeiro">Rio de Janeiro</option>
                <option value="Rio Grande do Norte">Rio Grande do Norte</option>
                <option value="São Paulo">São Paulo</option>
            </select><br><br>
        </div>
        <div class="form-group">
            <label for="dob">Date of Birth*</label>
            <input type="text" id="dob" [(ngModel)]="edit.dateofbirth"  name="dob" #dob="ngModel" required><br><br>
        </div>
        <div class="form-group">
            <label for="email">Email*</label>
            <input type="text" id="email" [(ngModel)]="edit.email"  name="email" #email="ngModel" required><br><br>
        </div>
        <div class="form-group">
            <label for="docNumber">Document Number*</label>
            <input type="text" id="docNumber" [(ngModel)]="edit.documentnumber" [disabled]="isDisabled" name="documentNumber" #documentnumber="ngModel" required><br><br>
        </div>    
        <div class="form-group">
            <label for="phone">Phone Number*</label>
            <input type="text" id="phone"[(ngModel)]="edit.phone"  name="phone" #phone="ngModel" required><br><br>
        </div>
        <div class="form-group">
            <label for="accountnumber">Account Number*</label>
            <input type="text" id="accountnumber" [(ngModel)]="edit.accountnumber" [disabled]="isDisabled" name="accountnumber"  #accountnumber="ngModel" readonly><br><br>
        </div>
        <div class="form-group">
            <label for="status">Status*</label>
            <select  id="status" [(ngModel)]="edit.status"  name="status" #status="ngModel">
                <option value="Deferred">Deferred</option>
                <option value="Requested" selected>Requested</option>
                <option value="Rejected">Rejected</option>
                <option value="Under analysis">Under analysis</option>
            </select><br><br>
        </div>    
        <div class="form-group">
            <button  (click)="editaccount()">Submit</button>
            <button type="cancel" routerLink="/accountslist">Cancel</button>
    </div>
    </form>
    </form>
    </body>
